@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}
@keyframes blink {
  0%, 100% { background-color: initial; }
  25%, 75% { background-color: yellow; }
}

.blink {
  animation: blink 1s linear 2; /* Blink for 1 second, repeat 2 times */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
