@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}
@keyframes blink {
  0%, 100% { background-color: initial; }
  25%, 75% { background-color: yellow; }
}

.blink {
  animation: blink 1s linear 2; /* Blink for 1 second, repeat 2 times */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #0000 ;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 8px;
  padding-bottom: 100px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  /* height: 50px; */
	background-color: #979797;
	border: 2px solid #d6d6d6;
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 20px solid #ffa500ed;
  border-right: 20px solid transparent;
}


#triangle-topright {
  width: 0;
  height: 0;
  border-top: 20px solid #E7E7E7;
  border-left: 20px solid transparent;
}